<div>
  <h1>{{trip?.departure}} - {{trip?.destination}}</h1>
  <h3>{{getDate()}} {{getTime()}}</h3>
  <h3>Created by: <a class="nav-link link-primary px-0 me-3" (click)="viewDriver()">{{driver?.name}}</a></h3>
  <h4>Number of seats: {{trip?.seats}}</h4>
  <h4>Description:</h4>
  <p class="lead">{{trip?.description}}</p>
  <hr>
  <h3>Reviews: <button *ngIf="!hasReview(); else reviewCreated" class="btn btn-primary" (click)="createReview()">Add</button>
    <ng-template #reviewCreated>
      <button *ngIf="!isOwner()" class="btn btn-primary" (click)="editReview()">Edit</button>
      <button *ngIf="!isOwner()" class="btn btn-danger" (click)="deleteReview()">Delete</button>
    </ng-template>
  </h3>
  <div *ngIf="reviews?.length!=0; else noReviews">
    <dl *ngFor="let review of reviews">
      <dt>{{review.reviewer}}: {{review.rating}}/5 <button *ngIf="userService.user.role===3" class="btn btn-danger" (click)="deleteReviewById(review.id)">Delete</button></dt>
      <dd>{{review.description}}</dd>
    </dl>
  </div>
  <ng-template #noReviews>
    <h3>Trip has no reviews yet</h3>
  </ng-template>
</div>
