body{
  padding-top: 65px;
}
a{
  cursor: pointer;
}
button{
  font-variant: small-caps;
}
table{
  width: 100%;
  border-collapse: collapse;
}
th{
  border-top: none;
}
th, td{
  text-align: center;
  padding: 5px;
}

