<div class="container">
    <div *ngIf="drivers.length===0; else showDrivers">No drivers to display</div>
    <ng-template #showDrivers>
        <table class="drivers">
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
            <tr *ngFor="let driver of drivers">
                <td>{{driver.id}}</td>
                <td>{{driver.name}}</td>
            </tr>
        </table>
    </ng-template>
  <router-outlet><button (click)="login()">Login</button></router-outlet>
</div>
